.about-background {
  background-image: url("../images/black-white-lines.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}

section {
  .row {
    .first-card {
      h2 {
        color: yellow;
        font-weight: 800;
      }
      .second-card {
        color: yellow;
        font-weight: 800;
      }
    }
  }
}
