.about-background {
  border: 4px solid black;
  min-height: 800px;
  background-image: url("../images/buildings.jpg");
  background-size: cover;
  background-position: center;
  margin-bottom: 30px;
}

section {
  .row {
    .first-card {
      h2 {
        color: yellow;
        font-weight: 800;
      }
      .second-card {
        color: yellow;
        font-weight: 800;
      }
    }
  }
}
