@media (max-width: 768px) {
  .bottom-header {
    flex-direction: column;
    align-items: center;
    text-align: center;
    .nav-list {
      column-gap: 30px;
    }

    .auth-form {
      display: none;
    }
  }
  footer {
    min-height: 550px;
  }
  .fixed-icon {
    position: fixed;
    bottom: 3%;
    right: 3%;

    img {
      width: 3px;
      height: 3px;
    }
  }
}

@media (max-width: 1400px) {
  header {
    height: 160px;
  }
}

@media (max-width: 500px) {
  .bottom-header {
    .nav-list {
      column-gap: 15px;
    }
  }
}
