section {
  .first-card,
  .second-card {
    min-height: 400px;
    background-color: black;
    color: white;
    box-shadow: 10px 14px 84px -13px rgba(0, 0, 0, 0.88);
    -webkit-box-shadow: 10px 14px 84px -13px rgba(0, 0, 0, 0.88);
    -moz-box-shadow: 10px 14px 84px -13px rgba(0, 0, 0, 0.88);
  }
}

.eye-transparant {
  opacity: 0.3;
  margin-left: 50px;
  margin-top: 30px;
  margin-left: 50%;
}

.mouse {
  margin-left: 50px;
  margin-top: 30px;
  margin-left: 50%;
}
