@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "./reset";
@import "./header";
@import "./about";
@import "./signup";
@import "./contact";
@import "./design";
@import "./main";
@import "./section";
@import "./footer";
@import "./responsive";

body {
  font-family: "Archivo", sans-serif;
  font-weight: 800;
  letter-spacing: 0.25px;
  line-height: 35.2px;
  ::selection {
    background: #b872e7;
    color: black;
    text-shadow: 1px 0px 1px #1c5fdb;
  }
}

.fixed-icon {
  position: fixed;
  bottom: 1%;
  right: 5%;
  transform: translateY(-50%);
  z-index: 999; // make sure it stays on top
  background-color: yellow;
  border-radius: 20%;
  border: 4px solid black;
  padding: 0.75rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;

  a {
    display: inline-block;
  }

  img {
    width: 50px;
    height: 50px;
  }

  &:hover {
    background-color: white;
    transform: translateY(-50%) scale(1.05);
  }
}
