@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "./reset";
@import "./header";
@import "./signup";
@import "./contact";
@import "./main";
@import "./section";
@import "./footer";
@import "./responsive";

body {
  font-family: "Archivo", sans-serif;
  font-weight: 800;
  letter-spacing: 0.25px;
  line-height: 35.2px;
  ::selection {
    background: #b872e7;
    color: black;
    text-shadow: 1px 0px 1px #1c5fdb;
  }
}
